/* .home-slider .swiper-bg.s-bg-1 {
	background-image: url(../images/slider/slider1.webp);
}

.home-slider .swiper-bg.s-bg-2 {
	background-image: url(../images/slider/slider2.webp);
}

.home-slider .swiper-bg.s-bg-3 {
	background-image: url(../images/slider/slider3.webp);
}

.home-slider .swiper-bg.s-bg-4 {
	background-image: url(../images/slider/slider4.webp);
} */


/* ================================================ */

/* .parallax-window {
	background: url(../images/parallax/p2-back.webp)center center;
} */

/* =============================================== */

/* .sign-in-page {
	background: url(../images/login/login.webp) no-repeat scroll 0 0;
	background-size: 100% 100%;
	background-size: cover;
} */

/* ============================================ */


/* .swiper-banner-container .show-banner-1 {
	background: url("../images/CardiovascularMedicine/Myocardial\ Infarction.webp");
	background-size: cover;
}

.swiper-banner-container .show-banner-2 {
	background: url("../images/tvthrillers/02.webp");
	background-size: cover;
}

.swiper-banner-container .show-banner-3 {
	background: url("../images/tvthrillers/04.webp");
	background-size: cover;
} */



/* ============================= */


/* .swiper-banner-container .show-video-banner-1 {
	background: url("./images/CardiovascularMedicine/Myocardial\ Infarction.webp");
	background-size: cover;
} */

/* .swiper-banner-container .show-video-banner-2 {
	background: url("../images/video/09.webp");
	background-size: cover;
}

.swiper-banner-container .show-video-banner-3 {
	background: url("../images/video/08.webp");
	background-size: cover;
} */

/* ======================================================= */

























/*----------------------------------------------trailer-----------------------------------------*/

/* .trending-tab-slider .swiper-bg.slider-big-img-1 {
	background-image: url(../images/tvthrillers/01.webp); background-repeat: no-repeat;
}
.trending-tab-slider .swiper-bg.slider-big-img-2 {
	background-image: url(../images/tvthrillers/02.webp);
}
.trending-tab-slider .swiper-bg.slider-big-img-3 {
	background-image: url(../images/tvthrillers/03.webp);
}
.trending-tab-slider .swiper-bg.slider-big-img-4 {
	background-image: url(../images/tvthrillers/04.webp);
}
.trending-tab-slider .swiper-bg.slider-big-img-5 {
	background-image: url(../images/tvthrillers/05.webp);
}
.trending-tab-slider .swiper-bg.slider-big-img-6 {
	background-image: url(../images/tvthrillers/06.webp);
}
.trending-content {
    padding: 0px 3.125em;
} */

/* ================================================ */

/* ========================================================== */
/* 
.show-movie .banner-wrapper {
	background-image: url(../images/shows-banner/show-4.webp);
} */

/* =============================================== */

/* ------------------swiper Thumbs -----------------------*/
/* .gallery-top .swiper-wrapper .swiper-slide.slider-big-img-1 {
	background-image: url(../images/movie-banner/01.webp);
}
.gallery-top .swiper-wrapper .swiper-slide.slider-big-img-2 {
	background-image: url(../images/movie-banner/02.webp);
}
.gallery-top .swiper-wrapper .swiper-slide.slider-big-img-3 {
	background-image: url(../images/movie-banner/03.webp);
}
.gallery-top .swiper-wrapper .swiper-slide.slider-big-img-4 {
	background-image: url(../images/shows-banner/01.webp);
}
.gallery-top .swiper-wrapper .swiper-slide.slider-big-img-5 {
	background-image: url(../images/shows-banner/02.webp);
}
.gallery-top .swiper-wrapper .swiper-slide.slider-big-img-6 {
	background-image: url(../images/shows-banner/03.webp);
} */
/* ============================================================
============================================================ */
/* .banner-container .movie-banner-1{
	background: url("../images/movie-banner/01.webp");
	background-size: cover;
}
.banner-container .movie-banner-2{
	background: url("../images/movie-banner/02.webp");
	background-size: cover;
}
.banner-container .movie-banner-3{
	background: url("../images/movie-banner/03.webp");
	background-size: cover;
} */
/* ============================================================
============================================================ */